<%= render partial: 'form', locals: { submit: "create new blogger" } %>

<p>*Make sure name is 20-60 characters</p>
<p>*Make sure bio is 30-200 characters</p>
<p>*Make sure age is above 0 years old</p>